<!DOCTYPE html>
{% extends "blog/base.html"%}
{% block body_block %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  

<div class="row align-items-center justify-content-center">
  <h1>Enter details:</h1>

  </div>
  <body>
<div class="row align-items-center justify-content-center">
  <form method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="name_field">Name :</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-address-card"></i>
        </div>
      </div>
          {{form.Name}}
    </div>
  </div>
  <div class="form-group">
    <label for="mobile_one">Mobile :</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-mobile"></i>
        </div>
      </div>
        {{form.Mobile}}
    </div>
  </div>

  <div class="form-group">
    <label for="address">Address:</label>
    {{form.Address}}
  </div>
  <div class="form-group">
    <input type="Submit" class="btn btn-primary btn-block" value="Submit">
  </div>
</form>


</div>
{% endblock %}
  </body>
</html>
