{% extends "blog/innerbase.html"%}
{% block result_block %}

<style media="screen">
  .css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
</style>
<style>h2 {border: 1px solid blue;outline: 2px dashed blue;}div.a {background-color: skyblue;</style>


<div class="row bg-lighgray">
<div class="col">
<br>

<h4>Select Date for Custom Report</h4>
<br>
      <form id = "CDP" method="POST" action="{{formurl}}">
        {% csrf_token %}
        <label><h5> Start Date:</h5></label>
        <input required type="date" name="htmldate" class="form-control ">
        <label><h5> End Date:</h5></label>
        <input required type="date" name="htmldate1" class="form-control ">
        <button type="submit" name = "submit" class="btn btn-primary btn-block mt-2 ">Submit</button>
      </form>
    </div>

<div class="col">
  <br>
  <div class="dropdown">
  <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Select Quick Expenses Report
  </button>
  <div class="dropdown-menu">
  <a class="dropdown-item" href="/todayexpensesreport">Today's Expenses</a>
  <a class="dropdown-item" href="/yesterdayexpensesreport">Yesterday's Expenses</a>
  <a class="dropdown-item" href="/last7daysexpensesreport">Last 7 Days</a>
  <a class="dropdown-item" href="/last30daysexpensesreport">Last 30 Days</a>
</div>
<br>
  <div class="a">
    <h1><u>Short Summary</u></h1>
  <h3>Total Income:  {{total.income_value__sum}}</h3>
  <h3>Total Expenses: {{totalexp.expenses_value__sum}}</h3>
  <div class="a" background-color:Red;><br>
    <h2>Net Cash: <u>{{netcash}}</u></h2>

  </div>

  </div>
</div>
</div>
<br>

<center><h1>Detail of Expenses:</h1></center>
<div class="row bg-lighgray">
  <div class="col">

  </div>
    <table class="css-serial table table-striped " data-toggle="table" data-classes="table table-hover table-condensed"data-striped="true"data-sort-order="desc">
      <thead calss= "thead-dark">
        <tr>
          <th>Sr</th>
          <!-- <th class="th-sm style="visibility:hidden;">ID</th> -->
          <th >ID</th>
          <th class="th-sm data-field="Name" data-sortable="true">Date</th>
          <th class="th-sm">Description</th>
          <th class="th-sm data-field="Name" data-sortable="true">Expences Amount</th>
          <th>Edit/Delete</th>
          </tr>
      </thead>
      <tbody>
        {% for object in Expenses %}
        <tr>
          <td></td>
        <td >{{object.exp_id }}</td>
        <td>{{object.reg_date }}</td>
        <td>{{object.description}}</td>
        <td>{{object.expenses_value}}</td>
        <td>
        <a href="/editexpenses/{{object.exp_id}}"><button class="btn btn-warning">Edit</button> </a>
        <a href="/deleteexpenses/{{object.exp_id}}" <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
        </td>
        </tr>
        {% endfor%}
      </tbody>
  </table>
  </div>



{% endblock %}
