<!DOCTYPE html>
{% extends "blog/base.html"%}
{% block body_block %}
<div class="row align-items-center justify-content-center">
  <h4>Make changes you want to!</h4>
</div>
<div class="row align-items-center justify-content-center">
  <form class="post-form" action="/incomeupdate/{{myincome.income_id}}" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label><h6>Description: </h6></label>
    <div class="input-group">
      <div class="input-group-prepend">
      </div>
      <textarea type="text" name="description" rows="4" cols="40"  description = "description" required maxlength="100" value="{{myincome.description}}">{{myincome.description}}</textarea>
  </div>
  <div class="form-group">
    <label><h6>Amount: </h6></label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-dollar"></i>
        </div>
      </div>
      <input for="inputdefault" type="text" name="income_value"  income_value = "income_value" value="{{myincome.income_value}}"/>
      </div>
      <div class="form-group">
        <button type="Submit" class="btn btn-primary btn-block mt-2">Update</button>
        <!-- <button type="submit" class ="btn btn-success">Update</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
